@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 72px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  @apply fixed w-full;
  height: var(--full-height);
}


.custom-gradient {
  background: linear-gradient(232.7deg,
  rgba(105, 128, 252, 0.1) 4.3%,
  rgba(22, 72, 248, 0.1) 11.35%,
  rgba(255, 0, 0, 0.0776042) 30.99%,
  rgba(196, 196, 196, 0.1) 51.12%,
  rgba(213, 213, 213, 0.1) 57.67%,
  rgba(255, 255, 255, 0.1) 70.76%,
  rgba(82, 0, 255, 0.1) 91.4%
  );
}

.transparent-bg-pixel {
  background: #fff;
}

.transparent-bg-pixel::before, .transparent-bg-pixel::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  @apply bg-gray-200;
}

.transparent-bg-pixel::before {
  top: 0;
  left: 0;
}

.transparent-bg-pixel::after {
  bottom: 0;
  right: 0;
}

.transparent-bg {
  background-image: linear-gradient(45deg, var(--sl-color-neutral-300) 25%, transparent 25%),
  linear-gradient(45deg, transparent 75%, var(--sl-color-neutral-300) 75%),
  linear-gradient(45deg, transparent 75%, var(--sl-color-neutral-300) 75%),
  linear-gradient(45deg, var(--sl-color-neutral-300) 25%, transparent 25%);
  background-size: 10px 10px;
  background-position: 0 0, 0 0, -5px -5px, 5px 5px;
}

.transparent-bg-large {
  background-image: linear-gradient(45deg, rgb(255, 255, 255) 25%, transparent 26%),
  linear-gradient(-45deg, rgb(255, 255, 255) 25%, transparent 25%),
  linear-gradient(45deg, transparent 75%, rgb(255, 255, 255) 75%),
  linear-gradient(-45deg, var(--sl-color-neutral-300) 75%, rgb(255, 255, 255) 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0;
}

.inner-border {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.focus-visible-style:focus-visible {
  outline: none;
  border-color: var(--sl-input-border-color-focus);
  box-shadow: var(--sl-focus-ring);
}
